@model IEnumerable<ShowroomHonda.Models.THONGSOKYTHUAT>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
               <th>
            @Html.DisplayNameFor(model => model.MucTieuThu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTruyenDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeThongKhoiDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomenCucDai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DungTichXiLanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuongKinhHanhTrinhPiston)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiSoNen)
        </th>
        <th></th>
    </tr>


</table>
